<!doctype html>
<html lang="en">
    <head>
        <style type="text/css">
            {% include 'mail.css' without context %}
            {% include "mail-%s.css" % app_name ignore missing without context %}
            {% include 'mail-expiry.css' without context %}
        </style>
    </head>
    <body>
        <table id="page">
            <tr>
                <td> </td>
                <td id="inner">
                    <table class="header">
                        <tr>
                            <td>
                                <div class="salutation">Dobrý den {{ display_name }},</div>
                            </td>
                            <td class="logo">
                                {% if app_name == "Riot" %}
                                    <img src="http://riot.im/img/external/riot-logo-email.png" width="83" height="83" alt="[Riot]"/>
                                {% elif app_name == "Vector" %}
                                    <img src="http://matrix.org/img/vector-logo-email.png" width="64" height="83" alt="[Vector]"/>
                                {% else %}
                                    <img src="http://matrix.org/img/matrix-120x51.png" width="120" height="51" alt="[matrix]"/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="noticetext">Platnost Vašeho účtu skončí {{ expiration_ts|format_ts("%d.%m.%Y") }}. Po tomto datu nebudete moct svůj Matrix účet používat.</div>
                            <div class="noticetext">Pro prodloužení platnosti Vašeho účtu prosím klikněte na tento odkaz (nebo jej zkopírujte do adresního řádku webového prohlížeče):</div>
                            <div class="noticetext"><a href="{{ url }}">{{ url }}</a></div>
                          </td>
                        </tr>
                    </table>
                </td>
                <td> </td>
            </tr>
        </table>
    </body>
</html>
