<!doctype html>
<html lang="en">
    <head>
        <style type="text/css">
            {% include 'mail.css' without context %}
            {% include "mail-%s.css" % app_name ignore missing without context %}
        </style>
    </head>
    <body>
        <table id="page">
            <tr>
                <td> </td>
                <td id="inner">
                    <table class="header">
                        <tr>
                            <td>
                                <div class="salutation">Dobrý den {{ user_display_name }},</div>
                                <div class="summarytext">{{ summary_text }}</div>
                            </td>
                            <td class="logo">
                                {% if app_name == "Riot" %}
                                    <img src="http://riot.im/img/external/riot-logo-email.png" width="83" height="83" alt="[Riot]"/>
                                {% elif app_name == "Vector" %}
                                    <img src="http://matrix.org/img/vector-logo-email.png" width="64" height="83" alt="[Vector]"/>
                                {% else %}
                                    <img src="http://matrix.org/img/matrix-120x51.png" width="120" height="51" alt="[matrix]"/>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% for room in rooms %}
                        {% include 'room.html' with context %}
                    {% endfor %}
                    <div class="footer">
                        <a href="{{ unsubscribe_link }}">Zrušit odběr notifikací</a>
                        <br/>
                        <br/>
                        <div class="debug">
                            Email odeslán v {{ reason.now|format_ts("%c") }} z důvodu aktivity v místnosti {{ reason.room_name }} v
                            {{ reason.received_at|format_ts("%c") }} což je před více než {{ "%.1f"|format(reason.delay_before_mail_ms / (60*1000)) }} minutami,
                            {% if reason.last_sent_ts %}
                                přičemž naposledy byl pro tuto místnost email odeslán v {{ reason.last_sent_ts|format_ts("%c") }},
                                tedy více než {{ "%.1f"|format(reason.throttle_ms / (60*1000)) }} minutami (nastavení throttle_ms).
                            {% else %}
                                přičemž nikdy předtím email pro tuto místnost odeslán nebyl.
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td> </td>
            </tr>
        </table>
    </body>
</html>
